@import "./__variables.scss";

/* Emplacement */

.emplacement {
  display: flex;
  justify-content: center;
  padding: 0.85rem 1rem;
  background-color: $color-background-emplacement;
  font-size: 1rem;
  position: relative;
  box-shadow: 0 0.2rem 0.5rem $color-shadow-emplacement;
  font-family: "Roboto", sans-serif;

  &__icone {
    margin-right: 1rem;
  }

  &__texte {
    font-weight: 500;
  }
}

/* Booking */

.booking {
  padding: 2rem;
  text-align: center;
  background-color: $color-background-booking;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto", sans-serif;

  &__title {
    margin: 0;
  }

  &__description {
    font-weight: 300;
    font-size: 1.125rem;
    margin: 1.5rem 0;
  }

  &__link {
    border: 0;
    padding: 0.95rem 1.35rem;
    font-weight: 500;
    font-size: 1rem;
    border-radius: 50px;
    color: white;
    background-color: $color-background-link;
    background-image: linear-gradient(
      0deg,
      $color-gradient-link-start 0%,
      $color-gradient-link-end 100%
    );
    cursor: pointer;
    transition-duration: 0.25s;
    box-shadow: 0.25rem 0.25rem 10px $color-shadow-link;
  }

  &__link:hover {
    background-color: $color-background-link-hover;
    box-shadow: 0.25rem 0.25rem 10px $color-shadow-link-hover;
  }

  &__link a {
    text-decoration: none;
    color: inherit;
  }
}

/* Processus */

.processus {
  padding: 2.5rem 1rem;

  &__titre {
    margin-top: 0;
    font-size: 1.5rem;
    font-family: "Roboto", sans-serif;
  }

  &__etapes {
    margin: 0;
    padding: 3rem 2rem;
    list-style: none;
    counter-reset: stepCounter;
    font-family: "Roboto", sans-serif;

    @media (min-width: 1024px) {
      display: flex;
    }
  }

  &__etape {
    padding: 1.25rem;
    margin: 1rem 0 1rem 0.5rem;
    box-shadow: 0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    background-color: $color-background-processus-step;
    display: flex;
    position: relative;

    @media (min-width: 1024px) {
      flex: 1;
      margin: 0;
      margin-left: 1.5rem;

      &:first-child {
        margin-left: 0.75rem;
      }
    }

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &::before {
      counter-increment: stepCounter 1;
      content: counter(stepCounter) " ";
      background: $color-background-link;
      height: 1.5rem;
      width: 1.5rem;
      border-radius: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      position: absolute;
      left: -0.75rem;
    }
  }

  &__icone {
    margin-right: 1rem;
    color: $color-background-link;
  }

  &__etape,
  :hover {
    color: $color-background-link;
    transition: color 1s ease;
  }
}

/* selection restaurants */

.restaurants {
  background-color: $color-background-restaurants;
  padding: 20px;
  font-family: "Roboto", sans-serif;
}

.restaurants__cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;

  @media (min-width: 1024px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.card {
  background-color: $color-background-card;
  border-radius: 10px;
  position: relative;
  text-decoration: none;
  color: inherit;
  display: block;

  &__img {
    height: 200px;
    width: 100%;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
  }

  &__badge {
    background-color: $color-background-badge;
    color: $color-text-badge;
    padding: 8px;
    border-radius: 2px;
    position: absolute;
    top: 10px;
    right: 10px;
    font-family: "Roboto", sans-serif;
  }

  &__box {
    padding: 10px;
    position: relative;
    display: flex;
    align-items: center;
  }

  &__content {
    flex: 1;
  }

  &__title {
    margin: 0;
    margin-bottom: 5px;
  }

  &__subtitle {
    margin: 0;
  }

  &__btn {
    height: 40px;
    width: 40px;
    background-color: transparent;
    border: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
