// Couleurs
$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$grey-dark: #353535;
$grey-light: #EAEAEA;
$white: #FFFFFF;
$black: #000000;

// Polices
$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Shrikhand', cursive;

// Breakpoints
$mobile: 767px;
$tablet: 1024px;