/* header */
.omf-header {
  padding: 1rem 1rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  position: relative;
  z-index: 10;
}

.omf-logo {
  font-family: "Shrikhand", "cursive";
  margin: 0;
  text-align: center;
}

/* Emplacement */
.emplacement {
  display: flex;
  justify-content: center;
  padding: 0.85rem 1rem;
  background-color: #eaeaea;
  font-size: 1rem;
  position: relative;
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.2);
  font-family: "Roboto", sans-serif;
}
.emplacement__icone {
  margin-right: 1rem;
}
.emplacement__texte {
  font-weight: 500;
}

/* Booking */
.booking {
  padding: 2rem;
  text-align: center;
  background-color: rgb(246, 246, 246);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto", sans-serif;
}
.booking__title {
  margin: 0;
}
.booking__description {
  font-weight: 300;
  font-size: 1.125rem;
  margin: 1.5rem 0;
}
.booking__link {
  border: 0;
  padding: 0.95rem 1.35rem;
  font-weight: 500;
  font-size: 1rem;
  border-radius: 50px;
  color: white;
  background-color: rgb(104, 104, 104);
  background-image: linear-gradient(0deg, rgba(147, 86, 220, 0.9) 0%, rgba(255, 121, 218, 0.9) 100%);
  cursor: pointer;
  transition-duration: 0.25s;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
}
.booking__link:hover {
  background-color: white;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.5);
}
.booking__link a {
  text-decoration: none;
  color: inherit;
}

/* Processus */
/*************************** Processus ***************************/
.processus {
  padding: 2.5rem 1rem;
}
.processus__titre {
  margin-top: 0;
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
}
.processus__etapes {
  margin: 0;
  padding: 3rem 2rem;
  list-style: none;
  counter-reset: stepCounter;
  font-family: "Roboto", sans-serif;
}
@media (min-width: 1024px) {
  .processus__etapes {
    display: flex;
  }
}
.processus__etape {
  padding: 1.25rem;
  margin: 1rem 0 1rem 0.5rem;
  box-shadow: 0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  background-color: rgb(255, 255, 255);
  display: flex;
  position: relative;
}
@media (min-width: 1024px) {
  .processus__etape {
    flex: 1;
    margin: 0;
    margin-left: 1.5rem;
  }
  .processus__etape:first-child {
    margin-left: 0.75rem;
  }
}
.processus__etape:first-child {
  margin-top: 0;
}
.processus__etape:last-child {
  margin-bottom: 0;
}
.processus__etape::before {
  counter-increment: stepCounter 1;
  content: counter(stepCounter) " ";
  background: rgba(147, 86, 220, 0.9);
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: absolute;
  left: -0.75rem;
}
.processus__icone {
  margin-right: 1rem;
  color: rgb(126, 126, 126);
}
.processus__etape,
.processus :hover {
  color: rgba(147, 86, 220, 0.9);
  transition: color 1s ease;
}

/* selection restaurants */
.restaurants {
  background-color: rgb(243, 243, 243);
  padding: 20px;
  font-family: "Roboto", sans-serif;
}

.restaurants__cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}
@media (min-width: 1024px) {
  .restaurants__cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

.card {
  background-color: #fff;
  border-radius: 10px;
  position: relative;
  text-decoration: none;
  color: inherit;
  display: block;
}
.card__img {
  height: 200px;
  width: 100%;
  border-radius: 10px 10px 0 0;
  object-fit: cover;
}
.card__badge {
  background-color: rgb(153, 226, 208);
  color: rgb(0, 135, 102);
  padding: 8px;
  border-radius: 2px;
  position: absolute;
  top: 10px;
  right: 10px;
  font-family: "Roboto", sans-serif;
}
.card__box {
  padding: 10px;
  position: relative;
  display: flex;
  align-items: center;
}
.card__content {
  flex: 1;
}
.card__title {
  margin: 0;
  margin-bottom: 5px;
}
.card__subtitle {
  margin: 0;
}
.card__btn {
  height: 40px;
  width: 40px;
  background-color: transparent;
  border: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*# sourceMappingURL=style.css.map */
